@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li class="nav-item">@Html.ActionLink("Formulario", "Index", "Form", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
        <li class="nav-item">@Html.ActionLink("Conversor", "Medidas", "Conversor", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
        <li class="nav-item">@Html.ActionLink("Lector de Excel", "Index", "Excel", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
        <div class="dropdown ml-md-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contenido
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="~/Contenido/Noticias">Noticias</a>
                <a class="dropdown-item" href="~/Contenido/Musica">Música</a>
                <a class="dropdown-item" href="~/Contenido/Peliculas">Películas</a>
            </div>
        </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active"><span class="nav-link text-info">Bienvenido <span class="text-warning">@User.Identity.GetUserName()</span></span></li>
        <li class="nav-item active"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link text-danger">Salir</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
        <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
        <li class="nav-item">@Html.ActionLink("Registrate", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link active" })</li>
    </ul>
}
